<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stream</title>
</head>
<body style="display: flex; flex-direction: column;justify-content: center; align-items: center;">
    <h1>Live Stream</h1>
    <img id="video" src="" width="90%" height="500vh">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('frame', function(data) {
            document.getElementById('video').src = 'data:image/jpeg;base64,' + data.image;
        });
    </script>
</body>
</html>
